@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* apply global styles */

h1 {
  @apply text-3xl font-bold mb-3;
}

h2 {
  @apply text-xl font-semibold mb-2;
}

p,
li {
  @apply text-sm text-gray-700;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}

input.input-box {
  @apply border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500 hover:border-orange-400 active:border-orange-600 transition-colors duration-200;
}

.btn-orange {
  @apply bg-orange-500 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-offset-2 hover:bg-orange-600 active:bg-orange-700 transition-colors duration-200;
}

.btn-orange-outline {
  @apply bg-white text-orange-500 border border-orange-500 font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-offset-2 hover:bg-orange-500 hover:text-white active:bg-orange-600 transition-colors duration-200;
}

.margins {
  @apply p-4;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.left-shadow {
  box-shadow: -5px 0 25px -7px rgba(0, 0, 0, 0.2);
}
